{% extends "::base.html.twig" %}

{% set loggedUser = app.user %}
{# @var loggedUser \AppBundle\Entity\User #}
{% block title %}All users{% endblock %}

{% block body %}
    <h1>All users:</h1>


    {% for user in users %}
        {% if loggedUser.id != user.id %}
            <div class="one-user">
                <img src="{{ asset('assets/players/'~ (user.id % 31) ~'.jpg') }}" alt="">
                <span>{{ user.username }}</span>
                <img src="{{ asset('assets/planets/'~ (user.id % 15) ~'.jpg') }}" alt="">
                <span>{{ user.planet.name }}</span>
                <span class="smaller">{{ ((
                    (loggedUser.planet.coordinateX - user.planet.coordinateX) ** 2 +
                    (loggedUser.planet.coordinateY - user.planet.coordinateY) ** 2
                    )**(1/2))|round(0,'ceil') }} blocks away
                </span>
                <span class="smaller">{{ (loggedUser.planet.coordinateTime - user.planet.coordinateTime)|abs }} years in the
                    {{ loggedUser.planet.coordinateTime - user.planet.coordinateTime > 0 ? 'past' : 'future' }}
                </span>
                <span class="button">
                    <a href="{{ path('user_profile', {'username': user.username}) }}">profile</a>

                    <a href="{{ path('attack_user', {'username': user.username}) }}">ATTACK</a>
                </span>
                <span class="button">
                </span>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}


