<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <style>
        body {
            color: white;
            background: url("{{ asset('bundles/app/images/bg.jpg') }}") no-repeat top center;
            background-size: cover;
        }
    </style>
</head>
<body>
{% if is_granted("ROLE_USER") %}
    {% include 'player/userStats.html.twig' with {'user': app.user } %}
{% endif %}

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Whoniverse</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('dashboard') }}">My Dashboard</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('dashboard') }}">My Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('all_users') }}">My Battles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('all_users') }}">All Players</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('all_users') }}">Log out</a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
