{# @var battle \AppBundle\Entity\Battle #}
{% extends '::base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% if battle.active %}
        <h2 class="centered">clash in {{ timeLeft.h }}:{{ timeLeft.i }}:{{ timeLeft.s }}</h2>
    {% elseif date() < date(battle.returnDue) %}
        <h2>returning in {{ timeToReturn.h }}:{{ timeToReturn.i }}:{{ timeToReturn.s }}</h2>
    {% else %}
        battle is over
    {% endif %}
{% endblock %}

