{% extends '::base.html.twig' %}

{# @var building \AppBundle\Entity\Building #}

{% block body %}
    <div class="centered">

        <img class="round" src="{{ asset('assets/buildings/'~ building.type.id ~'.jpg') }}" alt="">
        {% if building.level > 0 %}
            <h1>Your {{ building.type.type }} is upgrading to level {{ building.level + 1 }}.</h1>
        {% else %}
            <h1>Your {{ building.type.type }} is being constructed.</h1>
        {% endif %}
        <h2 class="centered">The process will finish in {{ timeLeft.h }}:{{ timeLeft.i }}:{{ timeLeft.s }}</h2>
    </div>
{% endblock %}

{% block title %}
    {{ building.type.type }}: upgrade
{% endblock %}

