<nav>
    <ul>
        <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('all_users') }}">All Users</a></li>
        <li><a href="{{ path('purchase_warriors') }}">Purchase warriors</a></li>
        <li><a href="{{ path('my_battles') }}">My Battles</a></li>
        <li><a href="{{ path('logout') }}">Sign out</a></li>
    </ul>
</nav>